a{
    color: #666;
}

.g-bd{
    background: url(../images/bg.png);
}

.g-bd .inner{
    width: 980px;
    margin:0 auto;
}

.m-pagename{
    height: 90px;
    position:relative;
}

.m-pagename h2{
    float: left;
    line-height: 90px;
    font-size: 30px;
    color: #666;
    text-indent: 20px;
    font-weight: normal;
}

.m-pagename p{
    float: right;
    margin: 0 20px 0 0;
    line-height: 90px;
    color:#666;
}

.m-pagename p a{
    color: #666;
}

/* 主体部分 */
.m-main{
    padding: 20px;
    background-color: #fff;
}

.m-sidemenu{
    float: left;
    width: 220px;
}

.m-sidemenu .blue{
    padding: 10px 0 0 0;
    border-top: #11aaee solid 10px;
}

.m-sidemenu .grey{
    margin: 30px 0 50px 0;
    border-top: #eee solid 10px;
}

.m-sidemenu .grey-1{
    margin-top:0;
}

.m-sidemenu ul li{
    padding: 0 0 0 15px;
}

.m-sidemenu ul li.toplv{
    background: url(../images/wdg-sp.png) -90px 11px no-repeat;
}

.m-sidemenu ul li.toplv-x{
    background: url(../images/wdg-sp.png) -90px -16px no-repeat;
}

.m-sidemenu ul li.toplv-x a.cd{
    cursor: default;
}

.m-sidemenu ul li a{
    display: block;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
}

.m-sidemenu ul li a.crt{
    color: #20a3e3;
}

.m-sidemenu h4{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}

.m-sidemenu .sublv a{
    padding: 0 0 0 30px;
    background: url(../images/wdg-sp.png) -75px 11px no-repeat;
}

.m-sidemenu .contact li{
    height: 33px;
    line-height: 33px;
    color: #999;
    position: relative;
    padding: 0 0 0 60px;
}

.m-sidemenu .contact li span{
    position: absolute;
    width:30px;
    height: 20px;
    top: 5px;
    left: 11px;
    background: url(../images/wdg-header.png) 9999px 9999px;
}

.m-sidemenu .contact li span.t{
    background-position: -170px -80px;
}

.m-sidemenu .contact li span.m{
    background-position: -170px -115px;
}

.m-sidemenu .return{
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #666;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.m-sidemenu .return:hover{
    background-color: #11aaee;
}

.m-mb{
    float: right;
    width: 700px;
}

/* 二级页面右侧内容 */
.m-tabops{
    margin:40px 0 0 0;
}

.m-tabops .tabs{
    border-bottom: #666 3px solid;
}

.m-tabops .tabs  ul li{
    float: left;
    margin: 0 3px 0 0;
    height: 16px;
    line-height: 16px;
    padding: 16px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #eee;
}

.m-tabops .tabs  ul li.crt{
    background-color: #666;
    color: #fff;
}

.m-picture{
    margin: 0 0 40px 0;
}

.m-article h2{
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: normal;
}

.m-article p{
    text-indent: 2em;
    margin: 0 0 30px 0;
    line-height: 30px;
    color: #333;
}

.m-article h3{
    margin: 20px 0 0 0;
    font-size: 18px;
    font-weight: normal;
}

.m-article h4{
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
}

.m-article ol li{
    font-size: 12px;
    line-height: 26px; 
    color: #333;
}

.m-article ul.info li{
    height: 30px;
    line-height: 30px;
}

.m-prointro .pic{
    float: left;
    width:250px;
    height: 200px;
}

.m-prointro .title{
    width: 430px;
    float: left;
    margin: 0 0 0 18px;
}

.m-prointro .title h2{
    font-size: 24px;
    font-weight: normal;
}

.m-prointro .title h4{
    font-size: 16px;
    font-weight: normal;
}

.m-prointro .title p{
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

/* tab content */
.m-tabinner{
    padding: 20px;
}
.m-tabinner h3{
    margin: 10px 0 10px;
    font-size: 24px;
    color: #333;
    font-weight: normal;
}

.m-tabinner h6{
    font-size: 16px;
    font-weight: normal;
}

.m-tabinner p{
    margin: 0 0 30px;
    line-height: 28px;
    color: #666;
    font-size: 14px;
    text-indent: 2em;
}

.m-tabinner p em{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}

.m-tabinner ul.grid li{
    position:relative;
    float:left;
    width:210px;
    height: 220px;
    border:#aaa solid 1px;
    margin:0 6px 6px 0;
    background-color:#dedede;
}

.m-tabinner ul.grid-1 li{
    height: 340px;
}

.m-tabinner ul.grid-3 li p{
    text-indent: 0;
}

.m-tabinner ul.grid li h4{
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #666;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
}

.m-tabinner ul.grid-4 li h4{
    height: 60px;
}

.m-tabinner ul.grid li p{
    margin: 0;
    padding: 10px;
}

.m-tabinner ul.grid li p a{
    font-size: 14px;
    color:#11aaee;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.m-tabinner .imgbox{
    margin: 0 0 15px 0;
}

/* list */
.m-list{
    border-top:#11aaee 10px solid;
}

.m-list ul li{
    margin: 20px 0;
}

.m-list ul li span.time{
    font-size: 12px;
    color: #999;
}

.m-list ul li a{
    line-height:30px;
    font-size: 18px;
    color: #11aaee;
    margin: 0 0 0 20px;
}

.m-list ul li a:hover{
    text-decoration: underline;
}

.m-list .article h3{
    margin: 20px 0 0 0;
    font-size: 24px;
    color: #333;
    font-weight: normal;
}

.m-list .article p{
    font-size: 14px;
    color: #666;
    line-height: 28px;
    margin: 0 0 26px 0;
    text-indent: 2em;
}

.m-list .article p.time{
    font-size: 12px;
    color:#999;
    text-indent: 0;
}

.m-fangfa tr.grey{background-color:#f4f4f4;}
.m-fangfa td{border:#ccc solid 1px;text-align:center;padding:3px 8px;vertical-align: middle;font-size:14px;color:#333;}
.m-fangfa td.al{text-align:left;}


