a{
    color: #666;
}

.g-bd{
    background: url(../images/bg.png);
}

.g-bd .inner{
    width: 980px;
    margin:0 auto;
}

.m-pagename{
    height: 90px;
    position:relative;
}

.m-pagename h2{
    float: left;
    line-height: 90px;
    font-size: 30px;
    color: #666;
    text-indent: 20px;
    font-weight: normal;
}

.m-pagename p{
    float: right;
    margin: 0 20px 0 0;
    line-height: 90px;
    color:#666;
}

.m-pagename p a{
    color: #666;
}

/* 主体部分 */
.m-main{
    padding: 20px;
    background-color: #fff;
}

.m-sidemenu{
    float: left;
    width: 220px;
}

.m-sidemenu .blue{
    padding: 10px 0 0 0;
    border-top: #11aaee solid 10px;
}

.m-sidemenu .grey{
    margin: 30px 0 50px 0;
    border-top: #eee solid 10px;
}

.m-sidemenu ul li{
    padding: 0 0 0 15px;
}

.m-sidemenu ul li.toplv{
    background: url(../images/wdg-sp.png) -90px 11px no-repeat;
}

.m-sidemenu ul li.toplv-x{
    background: url(../images/wdg-sp.png) -90px -16px no-repeat;
}

.m-sidemenu ul li.toplv-x a.cd{
    cursor: default;
}

.m-sidemenu ul li a{
    display: block;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
}

.m-sidemenu ul li a.crt{
    color: #20a3e3;
}

.m-sidemenu h4{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}

.m-sidemenu .sublv a{
    padding: 0 0 0 30px;
    background: url(../images/wdg-sp.png) -75px 11px no-repeat;
}

.m-sidemenu .contact li{
    height: 33px;
    line-height: 33px;
    color: #999;
    position: relative;
    padding: 0 0 0 60px;
}

.m-sidemenu .contact li span{
    position: absolute;
    width:30px;
    height: 20px;
    top: 5px;
    left: 11px;
    background: url(../images/wdg-header.png) 9999px 9999px;
}

.m-sidemenu .contact li span.t{
    background-position: -170px -80px;
}

.m-sidemenu .contact li span.m{
    background-position: -170px -115px;
}

.m-mb{
    float: right;
    width: 700px;
}

/* 二级页面右侧内容 */
.m-tabops{
    margin:40px 0 0 0;
}

.m-tabops .tabs{
    border-bottom: #666 3px solid;
}

.m-tabops .tabs  ul li{
    float: left;
    margin: 0 3px 0 0;
    height: 16px;
    line-height: 16px;
    padding: 16px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #eee;
}

.m-tabops .tabs  ul li.crt{
    background-color: #666;
    color: #fff;
}

.m-picture{
    margin: 0 0 40px 0;
}

.m-article h2{
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: normal;
}

.m-article p{
    text-indent: 2em;
    margin: 0 0 30px 0;
    line-height: 30px;
    color: #333;
}

.m-article ul.info li{
    height: 30px;
    line-height: 30px;
}

.m-prointro .pic{
    float: left;
    width:250px;
    height: 200px;
}

.m-prointro .title{
    float: left;
    margin: 0 0 0 18px;
}

.m-prointro .title h2{
    font-size: 24px;
    font-weight: normal;
}

.m-prointro .title h4{
    font-size: 16px;
    font-weight: normal;
}

.m-prointro .title p{
    font-size: 14px;
    line-height: 24px;
    color: #666;
}